body {
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    font-family: 'Noto Sans', sans-serif;
    position: fixed;
    top: 0;
    width: 100vw;
    /* high z-index prevents being covered when overlapping body */
    z-index: 100;
}

main {
    font-family: Dosis, sans-serif;
}

nav {
    text-transform: capitalize;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    position: fixed;
    bottom: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #3f3f3f;
    background-color: #69c07e;
    transition: bottom .5s;
    z-index: 50;
}

footer > p {
    padding: 25px 0 0;
}

h1 {
    padding: 60px 0 0;
    grid-column: 2/3;
    grid-row: 1/2;
    text-transform: uppercase;
}

.carousel-img {
    height: 85vh;
    object-fit: cover;
}

.logo {
    height: 75px;
    width: 75px;
    border: 10px inset #69c07e;
    border-radius: 50%;
}

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    width: 100vw;
    transition: opacity .5s;
}

.section-content {
    margin: 10px auto 40px;
    grid-column: 1/4;
    grid-row: 4/5;
}

.section-frame {
    background-color: black;
    height: 5px;
}

.section-top {
    grid-column: 1/3;
    grid-row: 2/3;
}

.section-bottom {
    grid-column: 3/4;
    grid-row: 5/6;
    margin-bottom: 20vh;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 95vw;
    border: 5px solid #EFF0F1;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 10px 10px 5px #EFF0F1;
    transition: 0.3s;
}

.project:hover {
    background-color: #69c07e;
    color: white;
    border-color: #69c07e;
    box-shadow: 10px 10px 5px #69c07e;
}

.project-img {
    width: 50vw;
    height: 30vw;
    object-fit: contain;
    background-color: #EFF0F1;
    border-radius: 10px;
}

.project-title {
    font-size: 1.3em;
    font-weight: 700;
}

.project-button {
    margin: 10px 0 0;
    font-family: sans-serif;
    height: 0;
    visibility: hidden;
}

#home-carousel {
    margin-top: 50px;
}

#about-img {
    grid-column: 1/4;
    grid-row: 3/4;
    max-height: 50vh;
    max-width: 90%;
    display: block;
    margin: 10px auto 0;
    padding: 10px;
    border-radius: 50%;
}

#about-content {
    padding: 10px;
    max-width: 90vw;
    text-align: justify;
    background-color: #EFF0F1;
    border: 5px solid #EFF0F1;
    border-radius: 15px;
    font-size: 1.2em;
}

#about-logo {
    grid-column: 3/4;
    grid-row: 3/4;
    max-height: 400px;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #69c07e;
    border: 100px inset #69c07e;
    border-radius: 50%;
    visibility: hidden;
}

#contact-content {
    width: 60vw;
}

/* tablet */
@media (min-width: 768px) {
    .section-frame {
        max-width: 50vw;
    }
    #about-img {
        grid-column: 2/3;
        max-width: 100%;
    }
    #about-content {
        max-width: 70vw;
    }
    #contact-content {
        width: 40vw;
    }    
}

/* desktop */
@media (min-width: 1024px) {
    .project {
        width: 40vw;
    }
    .project-img {
        width: 25vw;
        height: 15vw;
    }
    #about-img {
        grid-column: 1/2;
        padding-left: 10px;
    }
    #about-content {
        grid-column: 2/3;
        grid-row: 3/5;
    }
    #about-logo {
        visibility: visible;
    }
    #contact-content {
        grid-column: 2/3;
        width: 100%;
    }
}