body {
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    font-family: 'Noto Sans', sans-serif;
    position: fixed;
    top: 0;
    width: 100vw;
    /* high z-index prevents being covered when overlapping body */
    z-index: 100;
}

main {
    font-family: Dosis, sans-serif;
}

nav {
    text-transform: capitalize;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    position: fixed;
    bottom: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #3f3f3f;
    background-color: #69c07e;
    transition: bottom .5s;
    z-index: 50;
}

footer > p {
    padding: 25px 0 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.carousel-img {
    height: 80vh;
    object-fit: cover;
}

.circle-img {
    max-height: 50vh;
    display: block;
    margin: 10px auto 0;
    border-radius: 50%;
}

.divider {
    padding: 2px;
    width: 60vw;
    background-color: #EFF0F1;
    margin: 0 auto
}

.logo {
    height: 75px;
}

.page {
    padding: 70px 0 0;
    width: 100vw;
    min-height: 100vh;
    transition: opacity .5s;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 95vw;
    border: 5px solid #EFF0F1;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 10px 10px 5px #EFF0F1;
    transition: 0.3s;
}

.project:hover {
    background-color: #69c07e;
    color: white;
    border-color: #69c07e;
    box-shadow: 10px 10px 5px #69c07e;
}

.project-img {
    width: 50vw;
    height: 30vw;
    object-fit: contain;
    background-color: #EFF0F1;
    border-radius: 10px;
}

.project-title {
    font-size: 1.3em;
    font-weight: 700;
}

.project-button {
    margin: 10px 0 0;
    font-family: sans-serif;
}

.text-block {
    width: 80vw;
    max-width: 675px;
    margin: 10px auto;
    padding: 10px;
    text-align: justify;
    background-color: #EFF0F1;
    border: 5px solid #EFF0F1;
    border-radius: 15px;
    font-size: 1.3em;
}

/* tablet */
@media (min-width: 768px) {
    
}

/* desktop */
@media (min-width: 1024px) {
    .project {
        width: 40vw;
    }
    .project-img {
        width: 25vw;
        height: 15vw;
    }
}