body {
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    /* prevent from being covered by body on downward scroll */
    z-index: 100;
}

nav {
    text-transform: capitalize;
}

main {
    transition: left 1s;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #69c07e;
    transition: opacity .5s;
    z-index: 50;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.about-img {
    max-height: 50vh;
    display: block;
    margin: 10px auto 0;
    border-radius: 50%;
}

.c-img {
    height: 80vh;
    object-fit: cover;
}

.divider {
    padding: 2px;
    width: 60vw;
    background-color: #EFF0F1;
    margin: 0 auto
}

.page {
    padding: 70px 0 0;
    width: 100vw;
    min-height: 100vh;
    transition: opacity .5s;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 95vw;
    border: 5px solid #EFF0F1;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 10px 10px 5px #EFF0F1;
    transition: 0.3s;
}

.project:hover {
    background-color: #69c07e;
    color: white;
    border-color: #69c07e;
    box-shadow: 10px 10px 5px #69c07e;
}

.project-img {
    width: 50vw;
    height: 30vw;
    object-fit: contain;
    background-color: #EFF0F1;
    border-radius: 10px;
}

.text-block {
    margin: 10px 10vw;
    padding: 10px;
    text-align: justify;
    background-color: #EFF0F1;
    border: 5px solid #EFF0F1;
    border-radius: 15px;
}

/* tablet */
@media (min-width: 768px) {
    
}

/* desktop */
@media (min-width: 1024px) {
    .project {
        width: 40vw;
    }
    .project-img {
        width: 25vw;
        height: 15vw;
    }
}